@font-face{
    font-family: "trebuchetms";
    src: url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/websymbols-regular-webfont.woff') format('woff'),
    url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
    url('fonts/websymbols-regular-webfont.svg#WebSimbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../img/pattern.png);
}



/*style cabezera*/

#header{
    width: 100%;
    background-color: black;
    height: 70px;
    font-family:BebasNeue;
    color: white;
}

.gear{
    font-family:WebSymbolsRegular;
}

.clearfix{
    clear: both;
    float: none;
}

.ico{
    font-family: WebSymbolsRegular;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

.logo{
    width: 200px;
    height: 55px;
    background-color: #37BCF9;
    float: left;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 7px;
    margin-left: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
}

.logo:hover{
    border-radius: 2px;
    color: black;
    background-color: #ccc;
}

.logo > h3{
    font-size: 40px;
    margin-top: 7px;
    display: block;
    float: right;
    margin-right: 65px;
    transition: all 300ms;
}

.logo:hover h3{
    animation: fromright 500ms linear;
}

@keyframes fromright{
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0%);
    }
}

.logo .gear{
    display: block;
    float: left;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 27px;
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.logo:hover .gear{
    animation: frombellow 500ms linear;
}

@keyframes frombellow{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(200%);
    }

    100%{
        transform: translateY(0%);
    }
}

@keyframes rotate-gear{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#menu{
    float: right;
    font-size: 24px;
    height: 70px;
    background-color: transparent;
    
}

#menu > ul > li{
    margin: 0px 20px 0px 20px;
    display: inline-block;
}

#menu > ul > li > a{
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    text-decoration: none;
    line-height: 70px;
    letter-spacing: 1px;
    
}

#menu > ul > li > a:hover{
    color: #37BCF9;
    transform: scale(1.2, 1.2);
}

.banner{
    width: 96%px;
    margin: 0 auto;
    height: 100px;
    background-image: url(../img/bakbaner.png);
    background-position: -250px -200px;
    margin:  20px;
    overflow: hidden;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    animation: backbanner 10s linear;
}

@keyframes backbanner{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -250px -200px;
    }
}

.banner  h1{
    width: 850px;
    margin: 27px auto;
    color: white;
    font-family:BebasNeue ;
    font-size: 45px;
    letter-spacing: 2px;
    display: block;
    font-weight: normal;
    text-shadow: 2px 2px 2px black;
    animation: showtext 10s linear;
}

@keyframes showtext{
    0%{
        transform: translateX(-600%) scale(5,5);
        opacity: 1;
    }
    50%{
        transform: translateX(600%) scale(5,5);
        opacity: 1; 
    }
    75%{
        transform: translateX(-600%) scale(5,5);
        text-shadow: none;
        color: transparent;
        opacity:0;
    }
    100%{
        transform: translateX(0%) scale(1,1);
        text-shadow: 2px 2px 2px black;
        color: white;
        opacity: 1;
    }
}

.card{
    overflow: hidden;
    width: 204px;
    height: 300px;
    display: block;
    float: left;
    margin: 17px;
    margin-top: 50px ;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    background-color: white;
    cursor: pointer;
    transition: all 300ms;
}

.card:hover{
    background-color: black;
}

.card:hover .description{
    color: white;
    animation: description 450ms linear;
}

@keyframes description{
    from{
        transform: translateX(-450%);
        color: black;
    }
    to{
        transform: translateX(0%);
    }
}

.card:hover .category{
    color: white;
    animation: showcategory 400ms linear;
}

@keyframes showcategory{
    from{
        transform: translateY(-300%);
        color: black;
    }
    to{
        transform: translateY(0%);
    }
}

.card:hover .ico{
   color: #37BCF9;
   font-size: 70px;
   animation: showicon 300ms linear;
}
.card .ico{
    margin:25px 0px 40px 0px;
    display: block;
    text-align: center;
    font-size: 50px;
}

@keyframes showicon{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0%);
    }
}

.category{
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: center;
    font-family:trebuchetms;
    color: #00538C;
}

.card .description{
    text-align: center;
    color: #02609f;
    font-family: trebuchetms;
}

/*inicio de la barra lateral*/

#lateral{
    width: 300px;
    min-height: 1200px;
    float: right;
    font-family:trebuchetms;
    margin: 20px;
    
}

aside h3{
    width: auto;
    height: 45px;
    display: block;
    background: url(../img/pxgray.png),white;
    box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f,3px 4px 0px #393d3f;
    line-height: 49px;
    font-size: 30px;
    font-family:BebasNeue ;
    padding-left:20px ;
    letter-spacing: 3px;
    font-weight: normal;
    font-style: normal;
    margin: 20px 0px 15px 0px;   
}

aside h3:first-child{
    margin-top: 30px;
}

#search{
    width: 90%;
    height: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px, -1px -1px -4px #ccc inset;
    border-radius: 5px;
    margin: 10px auto;
}

input[type="text"]{
    width: 87%;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    color:gray;
    border: none;
    background-color: transparent;  
    outline: none;
}

input[type="text"]:focus{
    box-shadow: -1px -1px 1px gray ;
}

input[type="button"]{
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-left: 1px solid#ccc;
    padding-left: 5px;
    
}
.aside-box{
    width: 90%;
    height:240px;
    display: block;
    background-color: white;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0px 5px 0px 5px;
    padding-top: 20px;
    background-color:white ;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px 3px white inset, 0px -3px rgba(0, 0, 0, 0.3) inset ;
}

#login  input[type="email"],
#login  input[type="password"]{
    display: block;
    width: 85%;
    height: 30px;
    margin: 0px auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc inset;
    border-radius: 5px;
    padding-left: 30px;
    color: gray;
    margin-bottom: 20px;
}

#login  input[type="email"]:focus,
#login  input[type="password"]:focus{
   color: #555;
   box-shadow: 1px 1px 1px gray inset;
   border: 10px rgb(208, 25, 25);
   outline: none;
}

#login #user{
    display: block;
    text-align: center;
    position: absolute;
    margin-top: 6px;
    margin-left: 10px;
}

#login #password{
    display: block;
    position: absolute;
    margin-top: 7px;
    margin-left: 13px;
    font-size: 18px;
}

#login  input[type="submit"],
#login  input[type="reset"]{
    display: inline-block;
    width: 40%;
    height: 35px;
    margin-left: 16px;
    margin-bottom: 20px ;
    background:linear-gradient(to bottom, #36ADD9 0%, #2ca0ca 100%);
    border: 1px solid #156781;
    font-size: 15px;
    color: white;
    cursor: pointer;
    font-family:trebuchetms;
    font-weight: lighter;
    transition: 300ms;
}

#login  input[type="submit"]:hover,
#login  input[type="reset"]:hover{
    box-shadow: 0px 0px 0px 1px gray;
}

#login > a{
    color: black;
    display: inline-block;
    margin-left:15px ;
    text-decoration: none;
}

#login > a:hover{
    color: #0b7fa9;
    text-shadow: 0px 0px 0px 1px gray;
    
}

#login > a:last-child{
    margin-top: 3px;
}

#social{
    height: 200px !important;
}

#social a{
    display: block;
    font-size: 30px;
    margin:10px 0px 20px 20px;
    color: black;
    text-decoration: none;
}

#social .overlay{
    display: block;
    height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #f4f7fE;
    border: 3px solid white;
    text-shadow: 0px 0px 1px #ccc;
    box-shadow: 0px 0px 4px #ccc;
    letter-spacing: 1px;
    position:absolute;
    margin-top: -52px;
    margin-left: 70px;
    padding: 5px;
    cursor: pointer;
    transform: translateX(-80%);
    opacity: 0;
    transition: all 400ms;
}

#social div:hover .overlay{
    opacity: 1;
    transform: translateX(0%);
}

#articles{
    width: 815px;
    float: left;
    margin-top: 50px;
}

#articles h2{
    width: 100%;
    height: 75px;
    background: url(../img/pxgray.png), white;
    text-align: center;
    line-height: 75px;
    font-size: 40px;
    color: black;
    letter-spacing: 2px;
    font-family: BebasNeue;
    font-weight: normal;
    box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;
}

#articles article{
    width: 97%;
    height: auto;
    margin: 40px auto;
    padding: 10px;
    font-family: trebuchetms;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px #ddd;
    background-color: white;
}

#articles h4 a{
    font-size: 23px;
    text-decoration: none;
    color: #00538C;
    margin: 3px;
    display: block;
}

#articles h4 a:hover{
  text-decoration: underline;
}

#articles .data{
    height: 30px;
    background-color: #393d3f;
    float: right;
    padding: 0px;
    margin: -10px;
    text-align: center;
    line-height: 30px;
    padding: 4px;
    color: white;
    font-size: 13px;
    border-radius: 0px 0px 0px 5px;
}

#articles .data span{
   margin: 6px;
}

#articles article p{
    font-size: 15px;
    margin: 10px 0px 10px 0px;
}

#articles #blog{
    height: 100px;
    display: block;
    color: #00538C;
    font-size: 30px;
    text-decoration: none;
    line-height: 100px;
    text-align: center;
    margin-top: 60px;
    box-shadow: 1px 1px 2px #ddd;
    font-family:BebasNeue;
    letter-spacing: 3px;
    transition: all 300ms;
}

#articles #blog:hover{
    border: 10px solid #37BCF9;
    border-radius: 240px;
    background-color: 
    #333;
    box-shadow: 0px 0px 10px gray;
    animation: blog 10s infinite linear;
}

@keyframes blog{
    0%{
        border: 10px solid #37BCF9;
    }
    25%{
        border: 10px solid green;
    }
    50%{
        border: 10px solid yellow;
    }
    75%{
        border: 10px solid white;
    }
    100%{
        border: 10px solid #37BCF9;
    }
}

#articles #blog a{
    text-decoration: none;
    font-size: 40px;
    color: #00538C;
    display: block;
    transition: all 1s;
}

#articles #blog:hover a{
    color: white;
    text-shadow: 1px 1px 1px black, 2px 2px 1px black, 3px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black;
    
}

.masinf{
    color: #00538C;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.masinf:hover{
    margin-left: 5px;
  color: #37BCF9;
  transform: scale(1.1, 1.1);
}

/*inicio del footer*/

#footer{
    clear: both;
    width: 100%;
    height: auto;
    background-color: black;
    padding: 10px;
}

#footer .wrap{
    width: 85%;
    height: 400px;
    display: block;
    margin: 30px auto;
}

#footer .wrap h5{
    width: 100%;
    height: 50px;
    background: url(../img/pxgray.png), white;
    text-align: center;
    line-height: 75px;
    font-size: 40px;
    color: black;
    letter-spacing: 2px;
    font-family: BebasNeue;
    border-radius: 5px;
    line-height: 50px;
}

#location iframe{
    width: 100%;
    height: 300px;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0px 0px 5px gray;
}

#browsers a img{
    width: 40px;
    margin-top: 0px;
    text-decoration: none;
}

#browsers a{
    text-decoration: none;
    
}

#menu_footer ul{
    margin-top: 30px;
}

#menu_footer ul li a{
 color: #37BCF9;
 text-decoration: none;
 font-size: 20px;
 display: block;
 margin-bottom: 30px;
 font-family: trebuchetms;
 border-bottom: 1px solid white;
 padding-bottom: 15px ;

}

#menu_footer{
    width: 28%;
    float: left;
    display: block; 
}

#menu_footer ul li:hover a{
    padding-left: 40px;
    color: white;
}

#footer .wrap div{
    width: 28%;
    margin-left: 55px;
    float: left;
}

#browsers{
    margin: 15px;
}

#info #desarrollado img{
    display: block;
    margin: 20px;
}

#info #autor{
    font-size: 20px;
    display: block;
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
}

p{
    text-align: justify;
}