body{
    background-color: #0a0b27;
}

.principal{
    box-sizing: border-box;
    background-color: #0a0b27;
    width: 30%;
    height: 570px;
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    box-shadow: 1px 1px 12px rgb(247, 247, 250);
    background-image: url(starlin.jpeg);
    background-size: cover;

}
.title{
    display: block;
    height: 40px;
    border-bottom: 2px solid white;
    text-align: center;
}
.paraghar{
    text-align: center;
    display: block;
}

.link{
    background-color: white;
    text-align: center;
    display: block;
    padding: 3px 0px;
    border-radius: 20px;
    padding: 5px;    
    text-decoration: none;
    color: #0a0b27;
    font-size: 25px;
}

.link:hover{
    background-color: black;
    color: white;
}
h1{
    font-size: 23px;
    text-shadow: 2px 2px 2px black;
}

.container{
    display: block;
    margin-top: 300px;
}

.paraghar{
    color: rgb(62, 27, 199);
    width: 100%;
    height: auto;
    min-height: 95px;
    background-color: aliceblue;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 15px;
}

.paraghar .info{
    padding: 20px;
    color: #0a0b27;
    font-size: 17px;
}
